<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
</head>
<body>
<div class="alert alert-dark" role="alert">
    <h1>Миссия Колонизация Марса
        <small class="text-muted">Mars One</small>
    </h1>
</div>
<h4>И на Марсе будут яблони цвести!</h4>
{% block content %}{% endblock %}
</body>
</html>